{{#each this}}
<li class='universityBox'>
   <div class="title-wrapper">
      <p class="text"><a href={{web_pages}}>{{web_pages}}</a></p>
      <p class="text"> {{country}}</p>
      <p class="text">{{name}}</p>
   </div>
</li>
{{/each}}